<?xml version="1.0"?>
<configuration>
  <configSections>   
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, D.URLRewriter" />
  </configSections>
  <appSettings>
    <!-- DESC加密 必须8位数字或字母-->
    <add key="DESCKey" value="DianCMS8"/>
    <add key="DESCIV" value="DianCMS8"/>
    <add key="DataPath" value="/App_Data/DianCMS.mdb"/>
    <add key="DataPass" value=""/>
    <add key="DAL" value="D.ACCDAL"/>
    <add key="ConfigDir" value="config"/>
    <add key="CookieDomain" value=""/>
    <add key="URLRewriter" value="/config/URLRewriter.config"/>
    <add key="BackUpSQL" value="/App_Data/BackUp/"/>
    <add key="PlanAssignmentTime" value="1"/>
    <add key="IsExecPlan" value="1"/>
    <!--是否启用子域名0为不启用，1为启用为模型，2为启用为分站-->
    <add key="ChildDomain" value="99"/>
    <add key="SitePath" value=""/>
    <!--是否开放站点;1为开放 0为不开放。配合AppKey和AppSecret使用-->
    <add key="IsOpenSite" value="1"/>
    <!--AppKey、AppSecret长度不能够低于8位，否则视为无效-->
    <add key="AppKey" value="DianCMS8"/>
    <add key="AppSecret" value="DianCMS8"/>
    <add key="BaiDuMapAK" value="19IQBxuOseGEa35T3zMdGFbM4A99U0IM"/>
    <add key="MapDefaultCity" value="成都"/>
    <add key="ApplicationPath" value=""/>
    <add key="Open.User.Database" value="0"/>
    <!--开放多平台登录-->
    <add key="Open.MP.Login" value="0"/>
    <!--接口参数(用于第三方调用本站数据、注册、登录等)-->
    <add key="oauth.appid" value="diancms"/>
    <add key="oauth.appsecret" value="diancms^!("/>
  </appSettings>
  <system.web>               
    <customErrors defaultRedirect="~/common/error/index.html" mode="Off">
            <error redirect="http://127.0.0.1/c.txt" statusCode="302" />
        </customErrors> 
    <sessionState mode="InProc" timeout="20" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"> 
      <controls> 
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>      
    </pages>        
    <!--
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" strict="false" explicit="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <globalization culture="zh-cn" uiCulture="zh-cn" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpHandlers>
	
      <add path="ajaxpro/*.ashx" verb="POST,GET" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />


      <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, D.URLRewriter" />
      <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, D.URLRewriter" />
      <add verb="*" path="*.htm" type="URLRewriter.RewriterFactoryHandler, D.URLRewriter" />
    </httpHandlers>
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, D.URLRewriter" name="ModuleRewriter" />
    </httpModules>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="DianCMS-UserSpace" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="diancms-urlrewriter" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <!--<add name="ajaxpro" verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />-->
    </handlers>
    <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="default.aspx" />
                <add value="default.asp" />
                <add value="index.htm" />
               
                <add value="iisstart.htm" />
                <add value="index.asp" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
			<remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="application/octet-stream" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
        <urlCompression doDynamicCompression="false" />
        <caching>
            <profiles>
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".mp4" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^(chenxqwe\.com)(:80)?" />
                    </conditions>
                    <action type="Redirect" url="http://www.chenxqwe.com/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>

  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
 <runtime>
       <gcConcurrent enabled="false" />
   </runtime>
</configuration>